$red: #FF4136;
$blue: #0074D9;
$yellow: #FFDC00;
$green: #2ECC40;
$seeThruGreen: rgba($green, 0.3);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	transform-style: preserve-3d;
}
html, body, .sandbox {
	width: 100%;
	height: 100%;
}
.box-container {
	top: 60%;
	left: 60%;
	transform: rotateY(45deg) rotateX(15deg);
	animation: boxSpin 3s infinite;
}
.pyramid-container {
	top: 30%;
	left: 15%;
	transform: rotateY(30deg) rotateX(15deg);
	animation: pyramidSpin 3s infinite;
}
.cylinder-container {
	top: 20%;
	left: 70%;
	transform: rotateY(40deg) rotateX(15deg);
	animation: cylinderSpin 3s infinite;
}
.sphere-container {
	top: 45%;
	left: 45%;
	// animation: spin 3s infinite;
	// transform: rotateX(45deg);
}
.letter-container {

	.glyph {
		overflow: hidden;

		div {
			background-color: $blue;
		}

		&:nth-of-type(2) {
			div {
				background-color: $red;
			}
		}
	}

	.edge {
		background-color: $yellow;
	}
}
.letter-n {
	top: 5%;
	left: 5%;
	transform: rotateY(45deg) rotateX(15deg);
	animation: letterSpin 4s infinite;
}
.letter-a {
	top: 5%;
	left: 35%;
	transform: rotateY(45deg) rotateX(15deg) rotateZ(0deg);
	animation: letterSpinTwo 4s infinite;
	// transform: rotateY(45deg) rotateX(-15deg);
}
.face {
	// border: 1px solid rgba(0,255,0,1);
}
.sphere-face {
	background-color: $seeThruGreen;
}
.cylinder-base {
	background-color: $blue;
	border-color: $blue;
	border-radius: 50%;
	&.ring {
		background-color: transparent;
	}
}
.cylinder-segment {
	// display: none;
	background-color: $red;
	&.inner {
		// display: block;
		background-color: $yellow;
	}
}
.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	transform-origin: center bottom;
}
.x-face {
	background-color: $red;
	&.triangle {
		background-color: transparent;
		border-color: transparent transparent $red transparent;
	}
}
.y-face {
	background-color: $blue;
}
.z-face {
	background-color: $yellow;
	&.triangle {
		background-color: transparent;
		border-color: transparent transparent $yellow transparent
	}
}
.test {
	perspective: 500px;
	top: 70%;
	left: 70%
}
.test-inner {
	// transform: rotateX(45deg);
	// transform-origin: center bottom;
	width: 200px;
	// height: 100px;
	// background-color: $green;
	border-style: solid;
	border-color: transparent transparent $green transparent;
	border-width: 0 50px 100px 50px;
}
@keyframes spin {
	100% { transform: rotateY(360deg); }
}
@keyframes boxSpin {
	100% { transform: rotateY(405deg) rotateX(375deg); }
}
@keyframes pyramidSpin {
	100% { transform: rotateY(390deg) rotateX(375deg); }
}
@keyframes cylinderSpin {
	100% { transform: rotateY(400deg) rotateX(375deg); }
}
@keyframes pulse {
	0% { transform: scale(1.0)  rotateY(45deg) rotateX(15deg) }
	50% { transform: scale(1.4) rotateY(45deg) rotateX(15deg) }
	100% { transform: scale(1.0) rotateY(45deg) rotateX(15deg) }
}
@keyframes letterSpin {
	0% { transform: rotateY(45deg) rotateX(15deg) }
	50% { transform: rotateY(45deg) rotateX(195deg) }
	100% { transform: rotateY(225deg) rotateX(165deg) }
}
@keyframes letterSpinTwo {
	0% { transform: rotateY(45deg) rotateX(15deg) rotateZ(0deg) }
	50% { transform: rotateY(45deg) rotateX(195deg) rotateZ(0deg) }
	100% { transform: rotateY(225deg) rotateX(165deg) rotateZ(180deg) }
}